{% extends "menu.html" %}

{% block content %}
    <h1>Login</h1>
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.user.label }}<br>
            {{ form.user }}
            {% for error in form.user.errors %} <br>
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password }}
            {% for error  in form.password.errors %} <br>
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.rememberMe.label }}<br>
            {{ form.rememberMe }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}