{% extends "menu.html" %}

{% block content %}
    <div class="row">
        <div class="register">
            <h1>Cadastro de Usuário</h1>
            <form action="" method="POST" novalidate>
                <div class="form-group">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.username.label }}<br>
                        {{ form.username }}
                        {% for error in form.username.errors %} <br>
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.password.label }}<br>
                        {{ form.password }}
                        {% for error in form.password.errors %} <br>
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.password2.label }}<br>
                        {{ form.password2 }}
                        {% for error  in form.password2.errors %} <br>
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>{{ form.submit() }}</p>
                </div>                
            </form>
        </div> 
    </div> 
{% endblock %}