{% extends "menu.html" %}

{% block content %}
    <h1>Olá usuario, o seu código de rastreio é: {{ packageinformation.cod }}</h1>
    <h2>Tipo de envio: {{ packageinformation.categoria }}</h2>
    <h3>Quantidade de produtos: {{ packageinformation.quantity }}</h3>
    <table>
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Cidade</th>
                <th>Cidade de destino</th>
                <th>Dia</th>
                <th>Horário</th>
                <th>Observação</th>
            </tr>
        </thead>
        <tbody>
            {% for dados in packageinformation.dados %}
            <tr>
                <td>{{ dados[0] }}</td>
                <td>{{ dados[1] }}</td>
                <td>{{ dados[2] }}</td>
                <td>{{ dados[3] }}</td>
                <td>{{ dados[4] }}</td>
                <td>{{ dados[5] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}