{% extends "menu.html" %}

{% block content %}
    <h3 class="text-center">Olá {{ current_user.username }}, apresentando dados de rastreio para a encomenda: </h3>
    <h3 class="text-center">{{ package.description }}</h3>
    <div class="row">
        <div class="track_table">
            <table class="table table-dark text-center">
                <thead>
                    <tr>
                        <th>Descrição</th>
                        <th>Cidade</th>
                        <th>Cidade de destino</th>
                        <th>Dia</th>
                        <th>Horário</th>
                        <th>Observação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in packageinformation.data %}
                    <tr>
                        <td>{{ data[0] }}</td>
                        <td>{{ data[1] }}</td>
                        <td>{{ data[2] }}</td>
                        <td>{{ data[3] }}</td>
                        <td>{{ data[4] }}</td>
                        <td>{{ data[5] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> 
    </div> 
    <h5 class="text-center">Tipo de envio: {{ packageinformation.categoty }}</h5>
    <h5 class="text-center">Código de rastreio: {{ packageinformation.cod }}</h5>
    <h5 class="text-center">Quantidade de produtos: {{ packageinformation.quantity }}</h5>
{% endblock %}