{% extends "menu.html" %}

{% block content %}
    <h1>Olá usuario, o seu código de rastreio é: {{ packageinformation.cod }}</h1>
    <h2>Tipo de envio: {{ packageinformation.descricao_envio }}</h2>
    <h3>Quantidade de produtos: {{ packageinformation.quantity }}</h3>
    <table>
        <tr>
            <th>Descrição do Evento</th>
            <th>Código</th>
            <th>Rastrear</th>
        </tr>
        {% for descricao_evento in packageinformation.descricao_evento %}
        <tr>
            <td>{{ descricao_evento }}</td>
            <td>#</td>
            <td>#</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}